.Profile {
    width: 750px;
    height: auto!important;
    background: mediumslateblue;
    border: 1px solid #dddfe2;
    margin-left: 5% !important;
    box-shadow: 0 3px 6px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 6px;
    padding: 2rem;
}

.Postbody {
    background-color: #1877f2;
}



.custom-button {
    background: palevioletred;
    border: 0;
    color: white;
    padding: 10px;
    width: 30%;
}

.custom-button:hover {
    background-color: #12c2e9
}

.cell-data {
    font-size: medium !important;
    padding: 7px !important;
    text-align: left !important;
    width: 185px !important;
}

.data-separator {
    width: 35px !important;
}

.profile-table {
    margin-left: 150px !important;
}